* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}



.container {
  width: 50%;
  margin: 30px auto;
}


.slider {
  height: 700px;
  cursor: pointer;
}


.slider .bottom {
  display: flex;
  position: relative;
}

.slider .bottom img {
  width: calc(100% / 5);
}

.btn-arrow {
  position: absolute;
  cursor: pointer;
  bottom: 35%;
  transform: translateX(-50%);
  background-color: rgb(164, 163, 163);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
}

.btn-arrow.right {
  right: 3%;
}

.btn-arrow.left {
  left: 3%;
}



.rel {
  position: relative;
}

.top h2 {
  position: absolute;
  top: 10%;
  right: 5%;
}

.top p {
  position: absolute;
  top: 20%;
  right: 5%;
}