* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}


.container {
  width: 50%;
  margin: 30px auto;
}


.slider {
  position: relative;
  cursor: pointer;
}


.slider .bottom {
  margin-top: -4px;
  display: flex;
}

.slider .bottom img {
  width: calc(100% / 5);
}



/* classi speciali */
.bottom img.active  {
  opacity: 0.7;
}

.item {
  display: none;
}

.active {
  display: block;
}

.hide {
  display: none;
}


/* bottoni right left */

.btn-arrow {
  position: absolute;
  cursor: pointer;
  bottom: 6%;
  transform: translateX(-50%);
  background-color: #cb1616;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.btn-arrow.right {
  right: 3%;
}

.btn-arrow.left {
  left: 5%;
}


/* descrizioni foto */

.rel {
  position: relative;
}

.top h2 {
  position: absolute;
  top: 6%;
  right: 5%;
  font-size: 1.8rem;
  color: #cb1616;
  text-transform: uppercase;
}

.top p {
  position: absolute;
  top: 20%;
  right: 5%;
  font-weight: bold;
}



/* bottoni inferiori */

.down {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.btn_bottom {
  background-color: #cb1616;
  padding: 5px 15px;
  border-radius: 8px;
  color: #f5f2f2;
  cursor: pointer;
}